body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: #D3EDF1;
    margin=0
    line-height: 1.5;
 }

 header {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding-top: 30px;
 }

 h1,
 h2 {
    text-align: center;
    font-style: italic;
 }

 a {
    font-style: italic;
}

.menu a:hover,
.menu a:focus,
.menu a:visited {
    background-color: white;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#D9DEE3;
    color: #9F9F9F;
}
 .menu li {
    display: inline-block;
 }

 .menu a {
    display: inline-block;
    color: #686868;
    text-decoration: none;
    padding: 20px 30px;
 }

 .PersonalInformation,
 .Education {
    background-color:#60B7C8;
}

.GoBack {
    text-align: center;
    padding-top: 15px;
}

img {    
    /* border-radius: 50%; */
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(15% 40% 50% 40% round 15%);  
    margin-bottom: -30%;
    margin-top: -10%;
   }
  
table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 16px;
    border-spacing: 0;
    line-height: 1.5;
}

td {
    width: 50%;
    text-align%: left;
    padding: 10px 0;
    vertical-align: top;
}

table .firstcolumn {
    width: 30%;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

