/* Body, Header, Footer */

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: #D3EDF1;
    margin:0;
    padding:0;
    line-height: 1.51;
 }

 header {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    padding-top: 30px;
 }

 img {    
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(15% 40% 50% 40% round 15%);  
    margin-bottom: -30%;
    margin-top: -10%;
   }

 .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/* General settings */

 h1,
 h2 {
    text-align: center;
    font-style: italic;
 }

 a {
    font-style: italic;
}

/* Menu */

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#D9DEE3;
    color: #9F9F9F;
}
 .menu li {
    display: inline-block;
 }

 .menu a {
    display: inline-block;
    color: #686868;
    text-decoration: none;
    padding: 20px 30px;
 }

 .menu a:hover,
 .menu a:focus,
 .menu a:visited {
    background-color: white;
}


 /* Sections */

 section {
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    overflow: auto;
}

 .PersonalInformation,
 .Education {
    background-color:#60B7C8;
}

 /* Go Up button */

.GoBack {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 15px;
    background-color:#D9DEE3;
    margin-right: 45%;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    padding-bottom: 1%;
    vertical-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}
.GoBack a {
    text-decoration: none;
    color: #686868;
    padding-top: 12%;
    padding-left: 27%;
    padding-right: 27%;
    padding-bottom: 8%;
}

.GoBack a:hover,
.GoBack a:focus,
.GoBack a:visited {
    background-color: white;
}


/* Table in sections */

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 16px;
    border-spacing: 0;
    line-height: 1.5;
}

td {
    width: 50%;
    text-align: left;
    padding: 10px 0;
    vertical-align: top;
}

table .firstcolumn {
    width: 30%;
}
